<%= form_with model: [@test, @question], local: true do |form| %>
  <p>
    <%= form.label :body %><br />
    <%= form.text_field :body, id: :question_body %>
  </p>
  <p><%= form.submit %></p>
<% end %>
