<tr>
  <td><%= badge.name %></td>
  <td><%= badge.created_at %></td>
  <% if File.exist?(Rails.root.join('app','assets','images',badge.file_name))  %>
    <td><%= image_tag("#{badge.file_name}") %></td>
  <% else %>
    <td><%= "#{t('.image_file')} #{badge.file_name} #{t('.not_found')}" %></td>
  <% end %>
</tr>
