<table border=2>
  <tr>
    <th>User id</th>
    <th>User name</th>
    <th>Email</th>
    <th colspan="1">Action</th>
  </tr>
  <%= render @users %>
</table>
<%= link_to 'New user', new_user_path %>
