<h1>Test <%= @response.test.title %> was completed!</h1>
<p>Correct questions:
<b>
<% if test_result > ResponsesHelper::SUCCESS_RESULT %>
   <font color="green"> <%= test_result %>%</font></b>. Test passed. Congratulations!
<% else %>
   <font color="red"> <%= test_result %>%</font></b>. Test doesn't passed
<% end %>
</p>
<%= link_to 'Tests', tests_path %>
