<h1>Test <%= @response.test.title %> was completed!</h1>
<% test_result = @response.correct_questions * 100 / @response.test.questions.count %>
<p>Correct questions:
<b>
<% if test_result > 85 %>
   <font color="green"> <%= test_result %>%</font></b>. Test passed. Congratulations!
<% else %>
   <font color="red"> <%= test_result %>%</font></b>. Test doesn't passed
<% end %>
</p>
<%= link_to 'Tests', tests_path %>
